@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
// Primary
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);
// Neutral
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayis-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

p {
    font-weight: 400;
    color: $Dark-grayis-blue;
}

.header_container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    @media screen and (min-width: 990px) {
        padding: 50px;
        padding-inline: 100px;
    }
}

main {
    padding: 10px;
    @media screen and (min-width: 990px) {
        padding: 50px;
        padding-inline: 100px;
    }
}

ul {
    list-style: none;
}

.desktop_nav {
    display: none;

    .desktop_nav_container {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    @media screen and (min-width: 750px) {
        display: block;
    }
}

.drawer-container {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        align-self: flex-end;
    }
    nav {
        align-self: flex-start;
        margin-top: 50px;
    }

    li {
        margin-bottom: 20px;
    }
}

a {
    text-decoration: none;
    color: $Very-dark-blue;

    &:hover {
        color: $Soft-red;
    }
}

button {
    background-color: white;
    border: none;
}

.hamburger-icon {
    @media screen and (min-width: 750px) {
        display: none;
    }
}

#news_header {
    .image-mobile {
        aspect-ratio: 1;
        width: 100%;
        height: auto;

        @media screen and (min-width: 990px) {
            display: none;
        }
    }

    .image-desktop {
        display: none;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: cover;
        @media screen and (min-width: 990px) {
            display: block;
            height: 300px;
        }
    }
    
    h1 {
        font-size: 2em;
        font-weight: 800;
        margin-block: 20px;

        @media screen and (min-width: 990px) {
            font-size: 3em;
            margin-top: 0px;
        }
    }

    p {
        line-height: 1.5;
        max-width: 80ch;
    }

    button {
        background-color: $Soft-red;
        padding: 15px 20px;
        letter-spacing: 3px;
        color: $Off-white;
        border: none;
        margin-block: 20px;
        font-weight: 700;
        cursor: pointer;
    }

    .content_container {
        @media screen and (min-width: 990px) {
            display: flex;
            gap: 20px;
            align-items: center;
            margin-top: 20px;
        }
    }

}
#news_mid {
    background-color: $Very-dark-blue;
    padding: 20px;

    
    h2 {
        color : $Soft-orange;
        margin-bottom: 30px;
        font-size: 40px;
    }
    .news_item {
        .header_link {
            color: $Off-white;
            margin-bottom: 20px;
            font-size: 25px;
            font-weight: 700;

            &:hover {
                color: $Soft-orange;
            }
        }

        p {
            margin-bottom: 0px;
            color: $Grayish-blue;
            font-size: 14px;
            margin-top: 10px;
        }
    }
    .news_item:not(:last-of-type) {
        margin-bottom: 30px;
        border-bottom: 1px solid $Grayish-blue;
        p {
            margin-bottom: 20px;
            color: $Grayish-blue;
            font-size: 14px;
        }
        @media screen and (min-width: 990px) {
            margin-bottom: 50px;
            p {
                margin-bottom: 40px;  
            } 
        }
    }

    @media screen and (min-width: 990px) {
        height: 100%;
    }
}
#news_bottom {
    .news_bottom_item {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;

        .image_news_bottom {
            aspect-ratio: 4/5;
            max-width: 120px;
        }

        .news_bottom_item_content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media screen and (min-width: 990px) {
                justify-content: space-evenly;
            }
        }

        h2 {
            color: $Grayish-blue;
            font-size: 28px;
        }

        .header_link {
            font-weight: 700;

            &:hover {
                color: $Soft-orange;
            }
        }
    }
    @media screen and (min-width: 990px) {
        display: flex;
        margin-top: 30px;
        gap: 10px;
        justify-content: space-between;

        p {
            font-size: 14px;
            max-width: 30ch;
            line-height: 1.5;
        }
    }
}